<form [formGroup]="formGroup" (ngSubmit)="create()">
  <div
    *ngIf="formGroup.invalid && submissionError"
    class="flex items-center bg-red-100 border border-red-300 text-red-700 px-4 py-3 rounded mt-3 shadow">
    <svg
      class="w-5 h-5 mr-2 text-red-600"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12" />
    </svg>
    <span>Failed to create option. Please try again!</span>
  </div>
  <div class="card bg-black text-white shadow-lg p-6 rounded-lg">
    <div class="space-y-6 text-left">

      <!-- Name Field -->
      <div class="relative">
        <label
          for="name">

          Name*
        </label>
        <input
          formControlName="name"
          type="text"
          id="name"
          class="peer block w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-primary"
          placeholder=" "
        />

        <small *ngIf="formGroup.get('name')?.hasError('required') && formGroup.get('name')?.touched" class="text-red-500">
          Name is required.
        </small>
        <small *ngIf="formGroup.get('name')?.hasError('pattern') && formGroup.get('name')?.touched" class="text-red-500">
          Name must contain only letters and spaces.
        </small>
      </div>

      <!-- Select Attribute Field -->
      <div class="relative">
        <label >Select Attribute*:</label>
        <select formControlName="attribute" class="peer block w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-primary mb-3">
          @for (attribute of attributes;track attribute){
            <option  [ngValue]="attribute">{{attribute.name}}</option>}
        </select>
        <small *ngIf="formGroup.get('attribute')?.hasError('required') && formGroup.get('attribute')?.touched" class="text-red-500">
          Attribute is required.
        </small>

      </div>

      <!-- Description Field -->
      <div class="relative">
        <label
          for="description">

          Description
        </label>
        <textarea
          formControlName="description"
          id="description"
          class="peer block w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-primary"
          placeholder=" "
          rows="4"
        ></textarea>

      </div>

      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </div>
</form>
