<form class="my-10 space-y-6" [formGroup]="formGroup" (ngSubmit)="saveWithImage()">
  <div
    *ngIf="formGroup.invalid && submissionError"
    class="flex items-center bg-red-100 border border-red-300 text-red-700 px-4 py-3 rounded mt-3 shadow">
    <svg
      class="w-5 h-5 mr-2 text-red-600"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12" />
    </svg>
    <span>Failed to update brand. Please try again!</span>
  </div>
  <div class="card bg-black text-white shadow-lg p-6 rounded-lg">
    <div class="space-y-3 text-left">
      <!-- Name Field -->
      <div class="relative">
        <label
          for="name">
          Name*
        </label>
        <input formControlName="name" type="text" id="name" class="peer block w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-primary" placeholder=" " />

      </div>
      <small *ngIf="formGroup.get('name')?.hasError('required') && formGroup.get('name')?.touched" class="text-red-500">
        Name is required.
      </small>
      <small *ngIf="formGroup.get('name')?.hasError('pattern') && formGroup.get('name')?.touched" class="text-red-500">
        Name must contain only letters and spaces.
      </small>
      <!-- Description Field -->
      <div class="relative">
        <label
          for="description">
          Description
        </label>
        <textarea formControlName="description" id="description" class="peer block w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-primary" placeholder=" " rows="4"></textarea>

        <small *ngIf="formGroup.get('description')?.hasError('required') && formGroup.get('description')?.touched" class="text-red-500">
          Description is required.
        </small>
      </div>

      <!-- Image Field -->
      <div class="relative">
        <label
          for="image">
          Image
        </label>
        <!-- Input de type "file" -->
        <input
          type="file"
          formControlName="image"
          id="image"
          class="peer block w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-primary"
          placeholder=" "
          (change)="onFileSelected($event)"
        />

      </div>
      <div>
        Current Image : <img src="{{ image }}" class="img-thumbnail" style="width: 70px; height: 70px; border-radius: 10%; object-fit: cover;">


      </div>
    </div>
    <br>
    <div>
      <button type="submit" class="btn btn-primary" >Update</button>
    </div>
  </div>
</form>
