<form class="my-10 space-y-6" [formGroup]="signupFormGroup" (ngSubmit)="submitForm()">

<div class="flex h-screen w-screen">
  <div class="auth-bg hidden flex-1 items-center justify-center bg-primary bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <img src="./assets/images/image.png" alt="dashboard widget" style="transform: translateX(50px);" />
      <h1 class="text-4xl font-bold">Logistics Solutions 24/7</h1>
      <p class="text-xs font-light">
        With our expertise, we offer logistics solutions tailored to your needs around the world.
      </p>
    </div>
  </div>
  <div class="flex flex-1 items-center justify-center bg-background">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
</form>
